<form action="" class="form form--width-800">
    <div class="form__row">
        <div class="form__input-group">
            <label for="" class="form__label">Kanaal naam</label>
            <input type="text" class="form__input">
        </div>
    </div>
    <div class="form__row">
        <div class="form__input-group">
            <label for="" class="form__label">Vak</label>
            <input type="text" class="form__input">
        </div>
    </div>
    <div class="form__row">
        <div class="form__input-group">
            <label for="" class="form__label">Niveau</label>
            <input type="text" class="form__input">
        </div>
    </div>

    <div class="form__row form__input-group">
        <label for="" class="form__label">Kanalen</label>
        <select id="form_lists" class="form__input" multiple>
            <option value="volvo" selected>Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>

    <div class="form__row">
        <button class="button button--gold form__button">Lijst opslaan</button>
        <a class="button button--gray" href="/lijsten">Terug</a>
    </div>
</form>
