<form id="form_channel" action="" class="form form--width-800">
    <div class="form__row">
        <div class="form__input-group">
            <label for="" class="form__label">Kanaal naam</label>
            <input type="text" class="form__input">
        </div>
    </div>
    <div class="form__row">
        <div class="form__input-group">
            <label for="" class="form__label">Vak</label>
            <input type="text" class="form__input">
        </div>
    </div>
    <div class="form__row">
        <div class="form__input-group">
            <label for="" class="form__label">Niveau</label>
            <input type="text" class="form__input">
        </div>
    </div>

    <div class="form__row form__input-group">
        <label for="" class="form__label">Lijsten</label>
        <select id="form_lists" class="form__input" name="lists" multiple>
            {{#each this.userLists}}
              <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form__row">
        <button  id="button_save_channel"class="button button--gold form__button">Kanaal opslaan</button>
        <a class="button button--gray" href="/kanalen">Terug</a>
    </div>
</form>
