<article>
    <header class="content__row">
        <h1>
            Lijst invoeren
        </h1>
    </header>
    <section class="content__row">
        <form action="">
            <p>
                <label for="list_name">
                    Lijstnaam
                </label>
                <input type="text" id="list_name">
            </p>
        </form>
    </section>
</article>
