<form id="form_questions" class="form form--width-800">
    <div class="form__row">
        <div class="form__input-group">
            <label class="form__label" for="list_name">Lijstnaam</label>
            <input id="list_name" type="text" class="form__input" name="list_name" placeholder="Bijv. Rekenlijst">
        </div>
    </div>
    <div class="form__row">
        <div class="form__input-group">
            <label class="form__label" for="list_subject">Onderwerp</label>
            <input id="list_subject" type="text" class="form__input" name="list_subject" placeholder="Bijv. Rekenen">
        </div>
    </div>
    <div id="questions_input">
        <div id="question_0" class="form__row">
            <div class="form__column form__input-group">
                <label for="questions[0][question]" class="form__label">Vraag</label>
                <input id="questions[0][question]" name="questions[0][question]" type="text" class="form__input" placeholder="Bijv. Wat is 5 + 5">
            </div>
            <div class="form__column form__input-group">
                <label for="questions[0][answer]" class="form__label">Antwoord</label>
                <input id="questions[0][answer]" name="questions[0][answer]" type="text" class="form__input" placeholder="Bijv. 10">
            </div>
            <div class="form__column form__input-group">
                <button class="button button--no-padding-left-right form__button-delete" value="0">
                    <img src="/images/remove.svg" alt="remove" class="button__image">
                </button>
            </div>
        </div>
    </div>
    <div class="form__row">
        <button id="form_add_question" class="button button--gold">
            <img src="/images/plus.svg" alt="add question" class="button__image button__image--smaller button__image--margin-right">
            Vraag toevoegen
        </button>
    </div>
    <div class="form__row form__input-group">
        <label for="" class="form__label">Kanalen</label>
        <select id="form_channels" class="form__input" name="channels" multiple>
            {{#each this.userChannels}}
                <option value="{{this._id}}">{{this.name}} - {{this.subject}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form__row">
        <button id="button_save_list" class="button button--gold form__button">Lijst opslaan</button>
        <a class="button button--gray" href="/lijsten">Terug</a>
    </div>
</form>