<nav>
    <ul class="lp-nav">
        <li class="lp-nav__item">
            <a class="lp-nav__link lp-nav__link--hover-border-bottom" href="/">
                Home
            </a>
        </li>
        <li class="lp-nav__item">
            <a class="lp-nav__link lp-nav__link--hover-border-bottom" href="/over">
                Over
            </a>
        </li>
        <li class="lp-nav__item">
            <a class="lp-nav__link lp-nav__link--hover-border-bottom" href="/gebruik">
                Gebruik
            </a>
        </li>
        <li class="lp-nav__item">
            <a class="lp-nav__link button button--gold button--large" href="/login">
                Inloggen
            </a>
        </li>
    </ul>
</nav>
