<nav>
    <ul class="lp-nav">
        <li class="lp-nav__item">
            <a class="lp-nav__link" href="/">
                Home
            </a>
        </li>
        <li class="lp-nav__item">
            <a class="lp-nav__link" href="#">
                Over
            </a>
        </li>
        <li class="lp-nav__item">
            <a class="lp-nav__link" href="#">
                Gebruik
            </a>
        </li>
        <li class="lp-nav__item">
            <a class="lp-nav__link button button--gold button--large" href="/login">
                Inloggen
            </a>
        </li>
    </ul>
</nav>