<div class="sidebar column">
    <section class="sidebar__top">
        <div class="sidebar__logo">
            {{> logo}}
        </div>
        <hr class="divider">
        {{> user_info}}
        <hr class="divider">
    </section>
    {{> nav}}
</div>