<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Overhoorbot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> lp_nav }}

    <main class="lp-about lp-background">
        {{{body}}}
    </main>

    <script src="/js/animations.bundle.js"></script>
</body>
</html>
