<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Overhoorbot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<main class="column content center lp-background">
    <a href="/" class="button button__home button--gold button--absolute">
        <img class="button__image" src="/images/arrow-point-to-left.svg" alt="">
        <p>home</p>
    </a>
    {{{body}}}
</main>

<script src="/js/main.js"></script>
</body>
</html>
