<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Overhoorbot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

{{> sidebar}}

<main class="column content">
    {{{body}}}
</main>

</body>
</html>