<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Overhoorbot</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

{{> sidebar}}

<main class="column">
    {{{body}}}
</main>

<script src="/js/main.js"></script>
</body>
</html>