<article class="channels">
    <section class="content__row">
        <header>
            <h1>
                Kanaal toevoegen
            </h1>
        </header>
    </section>

    <section class="content__row">
        {{> channel_form}}
    </section>

</article>

<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="/js/channels.bundle.js"></script>
