<section class="auth__container">
    <form class="form--white" action="/login" method="post">
        <div class="container">
            <img class="logo" src="/images/logo-black.svg" alt="">
            <!-- <h1 class="form--content-margin title">Login</h1> -->

            <div class="form--content-margin input-container">
                <input class="form__input" type="text" placeholder="Username" name="username" required value="{{body.username}}" class="input" autocomplete="off">
            </div>

            <div class="form--content-margin input-container">
                <input class="form__input" type="password" placeholder="Password" name="password" required class="input">
            </div>

            {{#if error.message}}
                <p class="error-message">{{error.message}}</p>
            {{/if}}
            <div class="form--content-margin container signin">
                <p>Geen account? <a href="/register">Registreer</a></p>
            </div>
            <button type="submit" class="form--content-margin button button--gold button--large">Login</button>
        </div>


    </form>
</section>
