<div class="lp-about">
{{> lp_logo }}
<div class="lp-about__menu-back">
<img class="lp-about__menu-slash" src="/images/slash.svg" alt="">
</div>


<div class="lp-about__block lp-about__block--white ">

    <div class="lp-about__info">
        <div>
            <h1 class="content__row">De Overhoorbot</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis pellentesque odio in finibus. Nunc vestibulum suscipit sapien. Pellentesque placerat, eros eget ultricies sagittis, sem enim congue tellus, vel egestas nisi justo a ligula. Maecenas eu ex ac nunc molestie malesuada. Pellentesque vel iaculis ligula, ac sagittis enim. Aenean sed felis pharetra, efficitur dolor eu, consequat felis. Nulla non justo consequat, aliquam lectus vitae, viverra tortor. Pellentesque blandit luctus eros. Etiam quis tempus nisl. Proin et varius lectus. Ut urna nunc, lobortis id placerat ac, tempor eget tellus. Maecenas euismod tortor sed lorem placerat ullamcorper.</p>
        </div>
        <p>Maecenas sed facilisis elit. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante, vitae pharetra risus. Mauris finibus lorem sed sem fermentum, id tincidunt nisl interdum. Nam maximus quam a magna molestie, vitae commodo eros ultricies. Suspendisse vel magna eleifend, luctus eros at, sodales sem. Nam ullamcorper quam eu lacinia varius. Sed iaculis dolor at tellus hendrerit, ut vulputate magna consequat. Proin sit amet ipsum eget elit placerat fermentum. Mauris dictum dolor nec nibh egestas, at faucibus lacus fringilla. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante.</p>
        <p><img class="lp-about__image" src="/images/blind.png" alt="">  </p>
    </div>
</div>
<div class="content lp-about__block">
    <h1 class="content__row">Stappen</h1>
    <div class="lp-about__block--4-col">
        <p>Maecenas sed facilisis elit. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante, vitae pharetra risus. Mauris finibus lorem sed sem fermentum, id tincidunt nisl interdum. Nam maximus quam a magna molestie, vitae commodo eros ultricies. Suspendisse vel magna eleifend, luctus eros at, sodales sem. Nam ullamcorper quam eu lacinia varius. Sed iaculis dolor at tellus hendrerit, ut vulputate magna consequat. Proin sit amet ipsum eget elit placerat fermentum. Mauris dictum dolor nec nibh egestas, at faucibus lacus fringilla. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante.</p>
        <p>Maecenas sed facilisis elit. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante, vitae pharetra risus. Mauris finibus lorem sed sem fermentum, id tincidunt nisl interdum. Nam maximus quam a magna molestie, vitae commodo eros ultricies. Suspendisse vel magna eleifend, luctus eros at, sodales sem. Nam ullamcorper quam eu lacinia varius. Sed iaculis dolor at tellus hendrerit, ut vulputate magna consequat. Proin sit amet ipsum eget elit placerat fermentum. Mauris dictum dolor nec nibh egestas, at faucibus lacus fringilla. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante.</p>
        <p>Maecenas sed facilisis elit. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante, vitae pharetra risus. Mauris finibus lorem sed sem fermentum, id tincidunt nisl interdum. Nam maximus quam a magna molestie, vitae commodo eros ultricies. Suspendisse vel magna eleifend, luctus eros at, sodales sem. Nam ullamcorper quam eu lacinia varius. Sed iaculis dolor at tellus hendrerit, ut vulputate magna consequat. Proin sit amet ipsum eget elit placerat fermentum. Mauris dictum dolor nec nibh egestas, at faucibus lacus fringilla. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante.</p>
        <p>Maecenas sed facilisis elit. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante, vitae pharetra risus. Mauris finibus lorem sed sem fermentum, id tincidunt nisl interdum. Nam maximus quam a magna molestie, vitae commodo eros ultricies. Suspendisse vel magna eleifend, luctus eros at, sodales sem. Nam ullamcorper quam eu lacinia varius. Sed iaculis dolor at tellus hendrerit, ut vulputate magna consequat. Proin sit amet ipsum eget elit placerat fermentum. Mauris dictum dolor nec nibh egestas, at faucibus lacus fringilla. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante.</p>
    </div>
</div>
</div>
