<div class="lp-about">
{{> lp_logo }}
<div class="lp-about__menu-back">
<img class="lp-about__menu-slash" src="/images/slash.svg" alt="">
</div>


<div class="lp-about__block lp-about__block--white ">

    <div class="lp-about__info">
        <div>
            <h1 class="content__row">Overhoorbot met stembesturing</h1>
            <p>De overhoorbot met stembesturing laat leerlingen zelfstandig woordenlijsten oefenen en overhoren zonder hun handen of ogen te gebruiken. De overhoorbot houdt de goede en foute antwoorden van de leerling bij, herhaalt bij fouten en geeft de leerling direct het resultaat. De overhoorbot met stembesturing werkt op “slimme” geluidspeakers en op de mobiele telefoon.</p>
        </div>
        <p>Docenten kunnen zelf eenvoudig stemgestuurde oefenlijsten maken en delen met de leerlingen. </p>
        <p><!-- <img class="lp-about__image" src="/images/blind.png" alt=""> --!>  </p>
    </div>
</div>

<div class="content lp-about__block">
    <!-- <h1 class="content__row">Stappen</h1>
    <!-- <div class="lp-about__block--4-col">
        <p>Maecenas sed facilisis elit. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante, vitae pharetra risus. Mauris finibus lorem sed sem fermentum, id tincidunt nisl interdum. Nam maximus quam a magna molestie, vitae commodo eros ultricies. Suspendisse vel magna eleifend, luctus eros at, sodales sem. Nam ullamcorper quam eu lacinia varius. Sed iaculis dolor at tellus hendrerit, ut vulputate magna consequat. Proin sit amet ipsum eget elit placerat fermentum. Mauris dictum dolor nec nibh egestas, at faucibus lacus fringilla. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante.</p>
        <p>Maecenas sed facilisis elit. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante, vitae pharetra risus. Mauris finibus lorem sed sem fermentum, id tincidunt nisl interdum. Nam maximus quam a magna molestie, vitae commodo eros ultricies. Suspendisse vel magna eleifend, luctus eros at, sodales sem. Nam ullamcorper quam eu lacinia varius. Sed iaculis dolor at tellus hendrerit, ut vulputate magna consequat. Proin sit amet ipsum eget elit placerat fermentum. Mauris dictum dolor nec nibh egestas, at faucibus lacus fringilla. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante.</p>
        <p>Maecenas sed facilisis elit. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante, vitae pharetra risus. Mauris finibus lorem sed sem fermentum, id tincidunt nisl interdum. Nam maximus quam a magna molestie, vitae commodo eros ultricies. Suspendisse vel magna eleifend, luctus eros at, sodales sem. Nam ullamcorper quam eu lacinia varius. Sed iaculis dolor at tellus hendrerit, ut vulputate magna consequat. Proin sit amet ipsum eget elit placerat fermentum. Mauris dictum dolor nec nibh egestas, at faucibus lacus fringilla. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante.</p>
        <p>Maecenas sed facilisis elit. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante, vitae pharetra risus. Mauris finibus lorem sed sem fermentum, id tincidunt nisl interdum. Nam maximus quam a magna molestie, vitae commodo eros ultricies. Suspendisse vel magna eleifend, luctus eros at, sodales sem. Nam ullamcorper quam eu lacinia varius. Sed iaculis dolor at tellus hendrerit, ut vulputate magna consequat. Proin sit amet ipsum eget elit placerat fermentum. Mauris dictum dolor nec nibh egestas, at faucibus lacus fringilla. In nulla eros, venenatis nec iaculis et, semper sit amet nulla. Nam et convallis ante.</p>
    </div> --!>
</div>
</div>
