<div class="content-block">
    <div class="content-block__text">
        <h1>Hé, Google.</h1>
        <span>Praat met, overhoorbot</span>
    </div>
    <div class="content-block__img">
        <img src="#" alt="">
    </div>
</div>