<div>
    {{> lp_logo }}
    <div class="lp-about__block lp-about__block--white ">
        <div>
            <h1 class="content__row">Privacybeleid</h1>
            <p class="text-padding">
                =============
            </p>
            <p class="text-padding">
                Ingangsdatum: July 02, 2019
            </p>
            <p>
                Felson BV, Amsterdam ("ons", "wij" of "onze") beheert de https://www.overhoorbot.nl
                website en de overhoorbot mobiele App ("hierna genoemd Dienst").
            </p>
            <p class="text-padding">
                Deze pagina bevat informatie over ons beleid met betrekking tot de
                verzameling, het gebruik en de openbaarmaking van uw persoonsgegevens wanneer
                u onze Dienst gebruikt en de keuzes die u hebt met betrekking tot die
                gegevens.
            </p>
            <p class="text-padding">
                Wij gebruiken uw gegevens om de Dienst te leveren en te verbeteren. Wanneer u
                de Dienst gebruikt, gaat u akkoord met de verzameling en het gebruik van
                informatie in overeenstemming met dit beleid. Tenzij anders bepaald in dit
                Privacybeleid heeft de terminologie die wordt gebruikt in dit Privacybeleid
                dezelfde betekenis als in onze Algemene voorwaarden.
            </p>
            <p class="text-padding">
                Definities
                ----------
            </p>
            <p class="text-padding">
                * Dienst
            </p>
            <p class="text-padding">
                Onder dienst verstaan wij de https://www.overhoorbot.nl website en de
                overhoorbot mobiele App beheerd door overhoorbot
            </p>
            <p class="text-padding">
                * Gebruiksgegevens
            </p>
            <p class="text-padding">
                Onder gebruiksgegevens verstaan wij automatisch verzamelde gegevens die
                worden gegenereerd door het gebruik van de Dienst of van de infrastructuur
                van de Dienst zelf (bijvoorbeeld, de duur van het bezoek aan een pagina).
            </p>
            <p class="text-padding">
                * Gebruiksgegevens
            </p>
            <p class="text-padding">
                Onder gebruiksgegevens verstaan wij automatisch verzamelde gegevens die
                worden gegenereerd door het gebruik van de Dienst of van de infrastructuur
                van de Dienst zelf (bijvoorbeeld, de duur van het bezoek aan een pagina).
            </p>
            <p class="text-padding">
                * Cookies
            </p>
            <p class="text-padding">
                Cookies zijn informatiebestandjes die worden opgeslagen op uw apparaat
                (computer of mobiele apparaat).
            </p>
            <p class="text-padding">
                * Gegevensbeheerder
            </p>
            <p class="text-padding">
                Onder gegevensbeheerder verstaan wij de natuurlijke of rechtspersoon die
                (alleen, gezamenlijk of gemeenschappelijk met andere personen) de
                doeleinden bepaalt waarvoor en de wijze waarop persoonsgegevens worden of
                zullen worden verwerkt.
            </p>
            <p class="text-padding">
                In het kader van dit Privacybeleid zijn wij een Gegevensbeheerder van uw
                Persoonsgegevens.
            </p>
            <p class="text-padding">
                * Gegevensverwerkers (of Dienstverleners)
            </p>
            <p class="text-padding">
                Onder Gegevensverwerkers (of Dienstverleners) verstaan wij elke
                natuurlijke of rechtspersoon die de gegevens verwerkt in naam van de
                Gegevensverwerker.
            </p>
            <p class="text-padding">
                Wij kunnen de diensten gebruiken van verschillende Dienstverleners om uw
                gegevens efficiënter te kunnen verwerken.
            </p>
            <p class="text-padding">
                * Betrokkene (of Gebruiker)
            </p>
            <p class="text-padding">
                De Betrokkene is elke levende persoon die gebruik maakt van onze Dienst en
                die het onderwerp is van Persoonsgegevens.
            </p>
            <p class="text-padding">
                Gegevensverzameling en gebruik
                ------------------------------
            </p>
            <p class="text-padding">
                Wij verzamelen verschillende soorten gegevens voor uiteenlopende doeleinden om
                onze Dienst aan u te kunnen leveren en om hem te verbeteren.
            </p>
            <p class="text-padding">
                Soorten gegevens die worden verzameld
                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            </p>
            <p class="text-padding">
                Persoonsgegevens
                ****************
            </p>
            <p class="text-padding">
                Wanneer u onze Dienst gebruikt, kunnen wij u vragen ons bepaalde persoonlijk
                identificeerbare informatie te verstrekken die kan worden gebruikt om contact
                op te nemen met u of om u te identificeren ("Persoonsgegevens"). Deze
                persoonlijk identificeerbare informatie kan omvatten maar is niet beperkt tot:
            </p>
            <p class="text-padding">
                * E-mailadres
                * Cookies en Gebruiksgegevens
            </p>
            <p class="text-padding">
                Gebruiksgegevens
                ****************
            </p>
            <p class="text-padding">
                Wij kunnen ook gegevens verzamelen die uw browser verstuurt wanneer u onze
                Dienst bezoekt of wanneer u toegang krijgt tot de Dienst met of via een
                mobiele apparaat ("Gebruiksgegevens").
            </p>
            <p class="text-padding">
                Deze Gebruiksgegevens kunnen informatie bevatten zoals het Internet Protocol
                adres (IP-adres) van uw computer, het type browser, de versie van de browser,
                de pagina's die u hebt bezocht op onze Dienst, het tijdstip en de datum van uw
                bezoek, de tijd die u hebt doorgebracht op die pagina's, unieke apparaat-ID en
                andere diagnostische gegevens.
            </p>
            <p class="text-padding">
                Wanneer u toegang krijgt tot de Dienst met een mobiel apparaat kunnen deze
                Gebruiksgegevens informatie omvatten zoals het type mobiele apparaat dat u
                gebruikt, de unieke ID van uw mobiele apparaat, het IP-adres van uw mobiele
                apparaat, uw mobiel besturingssysteem, de mobiele internetbrowser die u
                gebruikt, de unieke apparaat-ID en andere diagnostische gegevens.
            </p>
            <p class="text-padding">
                Tracking &amp; cookiegegevens
                **************
            </p>
            <p class="text-padding">
                Wij gebruiken cookies en soortgelijke volgtechnologieën om de activiteit op
                onze Dienst te volgen en we bewaren bepaalde informatie.</p>
            <p class="text-padding">Cookies zijn bestanden met een kleine hoeveelheid gegevens die een anonieme
                unieke ID kunnen bevatten. Cookies worden van een website verzonden naar uw
                browser en opgeslagen op uw apparaat. Er worden ook andere volgtechnologieën
                gebruikt zoals beacons, tags en scripts om gegevens te verzamelen en te volgen
                en om onze Dienst te verbeteren en te analyseren.</p>
            <p class="text-padding">U kunt uw browser instellen om alle cookies te weigeren of om aan te geven
                wanneer een cookie wordt verzonden. Maar als u geen cookies aanvaardt, kunt u
                mogelijk niet alle functies van onze Dienst gebruiken.</p>
            <p class="text-padding">Voorbeelden van cookies die wij gebruiken:</p>
            <p class="text-padding">* Sessiecookies. Wij gebruiken Sessiecookies om onze Dienst te beheren.
                * Voorkeurcookies. Wij gebruiken Voorkeurcookies om uw voorkeuren en
                uiteenlopende instellingen bij te houden.
                * Veiligheidscookies. Wij gebruiken Veiligheidscookies voor
                veiligheidsdoeleinden.</p>
            <p class="text-padding">Gebruik van gegevens
                --------------------</p>
            <p class="text-padding">overhoorbot gebruikt de verzamelde gegevens voor uiteenlopende doeleinden:</p>
            <p class="text-padding">* Om onze Dienst te leveren en te onderhouden
                * Om u wijzigingen in onze Dienst te melden
                * Om u de mogelijkheid te bieden om, indien gewenst, deel te nemen aan de
                interactieve functies van onze Dienst
                * Om onze klanten steun te verlenen
                * Om analyse- of waardevolle gegevens te verzamelen die we kunnen toepassen
                om onze Dienst te verbeteren
                * Om toezicht te houden op het gebruik van onze Dienst
                * Om technische problemen te detecteren, te voorkomen en te behandelen</p>
            <p class="text-padding">Juridische basis voor de verwerking van Persoonsgegevens onder de Algemene
                verordening persoonsgegevens (AVG)
                -------------------------------------------------------------------------------------------------------------</p>
            <p class="text-padding">Als u inwoner bent van de Europese Economische Ruimte (EER) hangt de
                juridische basis van, overhoorbot voor de verzameling en het gebruik van de
                persoonsgegevens zoals beschreven in dit Privacybeleid af van de
                Persoonsgegevens die wij verzamelen en de specifieke context waarin wij ze
                verzamelen.</p>
            <p class="text-padding">overhoorbot kan uw Persoonsgegevens gebruiken omdat:</p>
            <p class="text-padding">* Wij een contract moeten afsluiten met u
                * U ons de toestemming hebt gegeven
                * De verwerking in ons legitiem belang is en niet wordt opgeheven door uw
                rechten
                * In naleving van de wet</p>
            <p class="text-padding">Bewaren van gegevens
                --------------------</p>
            <p class="text-padding">overhoorbot bewaart uw Persoonsgegevens slechts zolang dit nodig is voor de
                doeleinden vermeld in dit Privacybeleid. Wij bewaren en gebruiken uw
                Persoonsgegevens in de mate dit noodzakelijk is om te voldoen aan onze
                wettelijke verplichtingen (bijv. als we uw gegevens moeten bewaren in naleving
                van de geldende wetgeving), om geschillen op te lossen en om onze wettelijke
                overeenkomsten en beleid toe te passen.</p>
            <p class="text-padding">overhoorbot bewaart uw Gebruiksgegevens ook voor interne analytische
                doeleinden. Gebruiksgegevens worden gewoonlijk voor een kortere periode
                bewaard, tenzij deze gegevens worden gebruikt om de veiligheid te versterken
                of de werking van onze Dienst te verbeteren, of indien wij wettelijk verplicht
                zijn deze gegevens gedurende een langere periode te bewaren.</p>
            <p class="text-padding">Overdracht van gegevens
                -----------------------</p>
            <p class="text-padding">Uw gegevens, inclusief Persoonsgegevens, kunnen worden overgedragen naar - en
                bewaard op - computers die zich buiten het rechtsgebied van uw provincie, land
                of een andere overheidsinstantie bevinden waar de wetgeving inzake
                gegevensbescherming kan verschillen van de wetgeving in uw rechtsgebied.</p>
            <p class="text-padding">Let erop dat, als u zich buiten Netherlands bevindt en u ons gegevens
                verstrekt, wij deze gegevens, inclusief Persoonsgegevens, overdragen naar
                Netherlands en ze daar verwerken.</p>
            <p class="text-padding">Uw instemming met dit Privacybeleid gevolgd door uw indiening van dergelijke
                gegevens geven aan dat u akkoord gaat met die overdracht.</p>
            <p class="text-padding">overhoorbot zal alle redelijkerwijs noodzakelijke stappen ondernemen om ervoor
                te zorgen dat uw gegevens veilig en in overeenstemming met dit Privacybeleid
                worden behandeld en dat uw Persoonsgegevens nooit worden overgedragen aan een
                organisatie of een land als er geen gepaste controles zijn ingesteld,
                inclusief de veiligheid van uw gegevens en andere persoonsgegevens.</p>
            <p class="text-padding">Openbaarmaking van gegevens
                ---------------------------</p>
            <p class="text-padding">Wettelijke vereisten
                ~~~~~~~~~~~~~~~~~~~~</p>
            <p class="text-padding">overhoorbot kan uw Persoonsgegevens openbaar maken als het te goeder trouw de
                mening is toegedaan dat een dergelijke handeling noodzakelijk is:</p>
            <p class="text-padding">* Om te voldoen aan een wettelijke verplichting
                * Om de rechten en eigendom van overhoorbot te beschermen en te verdedigen
                * Om mogelijke misstanden te voorkomen of te onderzoeken in verband met de
                Dienst
                * Om de persoonlijke veiligheid van gebruikers van de Dienst of het publiek
                te beschermen
                * Als bescherming tegen juridische aansprakelijkheid</p>
            <p class="text-padding">Veiligheid van gegevens
                -----------------------</p>
            <p class="text-padding">De veiligheid van uw gegevens is belangrijk voor ons, maar vergeet niet dat
                geen enkele methode van verzending via het internet of elektronische methode
                van opslag 100% veilig is. Hoewel wij ernaar streven commercieel aanvaardbare
                middelen toe te passen om uw Persoonsgegevens te beschermen, kunnen wij de
                absolute veiligheid niet waarborgen.</p>
            <p class="text-padding">Uw rechten inzake gegevensbescherming onder de Algemene verordening
                persoonsgegevens (AVG)
                ------------------------------------------------------------------------------------------</p>
            <p class="text-padding">Als u inwoner bent van de Europese Economische Ruimte (EER) hebt u bepaalde
                rechten op het gebied van gegevensbescherming. overhoorbot streeft er naar
                redelijke maatregelen te nemen om u de mogelijkheid te bieden het gebruik van
                uw Persoonsgegevens te corrigeren, te wijzigen, te verwijderen of te beperken.</p>
            <p class="text-padding">Als u wilt weten welke Persoonsgegevens wij van u bezitten en als u wenst te
                worden verwijderd uit onze systemen kunt u contact opnemen met ons.</p>
            <p class="text-padding">In bepaalde omstandigheden hebt u de volgende rechten op het gebied van
                gegevensbescherming:</p>
            <p class="text-padding">* Het recht van toegang, bijwerking of verwijdering van de informatie die
                wij van u bezitten. Waar mogelijk hebt u toegang tot uw Persoonsgegevens
                en kunt u ze bijwerken of de verwijdering rechtstreeks in uw
                accountinstellingen aanvragen. Als u deze acties niet zelf kunt uitvoeren,
                kunt u contact opnemen met ons om u te helpen.</p>
            <p class="text-padding">* Het recht op correctie. U hebt het recht uw informatie te laten corrigeren
                als die informatie onnauwkeurig of onvolledig is.</p>
            <p class="text-padding">* Het recht om bezwaar te maken. U hebt het recht om bezwaar te maken tegen
                de verwerking van uw Persoonsgegevens.</p>
            <p class="text-padding">* Het recht op beperking. U hebt het recht te vragen dat wij de verwerking
                van uw Persoonsgegevens beperken.</p>
            <p class="text-padding">* Het recht op gegevensportabiliteit. U hebt het recht een kopie te
                ontvangen van de informatie die wij van u bezitten in een gestructureerd,
                machinaal leesbaar en algemeen gebruikt formaat.</p>
            <p class="text-padding">* Het recht uw toestemming in te trekken. U hebt ook het recht uw
                toestemming op elk moment in te trekken waar overhoorbot uw
                persoonsgegevens verwerkt op basis van uw toestemming.</p>
            <p class="text-padding">Denk eraan dat wij u kunnen vragen uw identiteit te verifiëren voor wij ingaan
                op dergelijke aanvragen.</p>
            <p class="text-padding">U hebt het recht een klacht in te dienen bij de Autoriteit Persoonsgegevens
                met betrekking tot onze verzameling en gebruik van uw Persoonsgegevens. Voor
                meer informatie kunt u contact opnemen met uw lokale Autoriteit
                Persoonsgegevens in de Europese Economische Ruimte (EER).</p>
            <p class="text-padding">Dienstverleners
                ---------------</p>
            <p class="text-padding">Wij kunnen externe bedrijven en personen aanstellen om onze Dienst
                ("Dienstverleners") te vereenvoudigen, om de Dienst te leveren in onze naam,
                om diensten uit te voeren in het kader van onze Dienst of om ons te helpen bij
                de analyse van hoe onze Dienst wordt gebruikt.</p>
            <p class="text-padding">Deze externe partijen hebben enkel toegang tot uw Persoonsgegevens om deze
                taken uit te voeren in onze naam en zij mogen deze niet openbaar maken aan
                anderen of ze gebruiken voor andere doeleinden.</p>
            <p class="text-padding">Links naar andere sites
                -----------------------</p>
            <p class="text-padding">Onze Dienst kan links bevatten naar andere sites die niet door ons worden
                beheerd. Als u klikt op een link van een externe partij wordt u naar de site
                van die externe partij gebracht. Wij raden u sterk aan het Privacybeleid te
                verifiëren van elke site die u bezoekt.</p>
            <p class="text-padding">Wij hebben geen controle over en aanvaarden geen aansprakelijkheid met
                betrekking tot de inhoud, het privacybeleid of de privacypraktijken van de
                sites of diensten van een externe partij.</p>
            <p class="text-padding">Privacy van kinderen
                --------------------</p>
            <p class="text-padding">Onze dienst richt zich niet op personen die jonger zijn dan 18 ("Kinderen").</p>
            <p class="text-padding">Wij verzamelen nooit bewust persoonlijk identificeerbare informatie van iemand
                die jonger is dan 18 jaar oud. Als u een ouder of voogd bent en u stelt vast
                dat uw kind ons persoonsgegevens heeft geleverd, vragen wij u contact op te
                nemen met ons. Als u vaststelt dat wij persoonsgegevens hebben verzameld van
                kinderen zonder de verificatie van ouderlijk toezicht zullen wij de nodige
                stappen ondernemen om die informatie te verwijderen van onze servers.</p>
            <p class="text-padding">Wijzigingen aan dit Privacybeleid
                ---------------------------------</p>
            <p class="text-padding">Wij kunnen ons Privacybeleid op gezette tijden bijwerken. Wij zullen u op de
                hoogte brengen van eventuele wijzigingen door het nieuwe Privacybeleid te
                publiceren op deze pagina.</p>
            <p class="text-padding">Wij zullen u op de hoogte brengen via e-mail en/of een duidelijke melding op
                onze Dienst voor de wijzigingen van kracht gaan en wij zullen de
                "aanvangsdatum" bijwerken die vermeld staat bovenaan in dit Privacybeleid.</p>
            <p class="text-padding">Wij raden u aan dit Privacybeleid regelmatig te controleren op eventuele
                wijzigingen. Wijzigingen aan dit Privacybeleid gaan van kracht op het moment
                dat ze worden gepubliceerd op deze pagina.</p>
            <p class="text-padding">Contact opnemen
                ---------------</p>
            <p class="text-padding">Als u vragen hebt over dit Privacybeleid kunt u contact opnemen met ons:</p>
            <p class="text-padding">* Via deze pagina op onze website: https://www.overhoorbot.nl
            </p>
        </div>
        <div>
            <h1 class="content__row">Privacy policy</h1></p>
            <p class="text-padding">==============</p>
            <p class="text-padding">Effective date: July 02, 2019</p>
            <p class="text-padding">Felson BV, Amsterdam ("us", "we", or "our") operates the https://www.overhoorbot.nl
                website and the overhoorbot mobile application (hereinafter referred to as the "Service").</p>
            <p class="text-padding">This page informs you of our policies regarding the collection, use and
                disclosure of personal data when you use our Service and the choices you have
                associated with that data.</p>
            <p class="text-padding">We use your data to provide and improve the Service. By using the Service, you
                agree to the collection and use of information in accordance with this policy.
                Unless otherwise defined in this Privacy Policy, the terms used in this
                Privacy Policy have the same meanings as in our Terms and Conditions.</p>
            <p class="text-padding">Definitions
                -----------</p>
            <p class="text-padding">* Service</p>
            <p class="text-padding">Service means the https://www.overhoorbot.nl website and the overhoorbot
                mobile application operated by overhoorbot</p>
            <p class="text-padding">* Personal Data</p>
            <p class="text-padding">Personal Data means data about a living individual who can be identified
                from those data (or from those and other information either in our
                possession or likely to come into our possession).</p>
            <p class="text-padding">* Usage Data</p>
            <p class="text-padding">Usage Data is data collected automatically either generated by the use of
                the Service or from the Service infrastructure itself (for example, the
                duration of a page visit).</p>
            <p class="text-padding">* Cookies</p>
            <p class="text-padding">Cookies are small files stored on your device (computer or mobile device).</p>
            <p class="text-padding">* Data Controller</p>
            <p class="text-padding">Data Controller means the natural or legal person who (either alone or
                jointly or in common with other persons) determines the purposes for which
                and the manner in which any personal information are, or are to be,
                processed.</p>
            <p class="text-padding">For the purpose of this Privacy Policy, we are a Data Controller of your
                Personal Data.</p>
            <p class="text-padding">* Data Processors (or Service Providers)</p>
            <p class="text-padding">Data Processor (or Service Provider) means any natural or legal person who
                processes the data on behalf of the Data Controller.</p>
            <p class="text-padding">We may use the services of various Service Providers in order to process
                your data more effectively.</p>
            <p class="text-padding">* Data Subject (or User)</p>
            <p class="text-padding">Data Subject is any living individual who is using our Service and is the
                subject of Personal Data.</p>
            <p class="text-padding">Information Collection and Use
                ------------------------------</p>
            <p class="text-padding">We collect several different types of information for various purposes to
                provide and improve our Service to you.</p>
            <p class="text-padding">Types of Data Collected
                ~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p class="text-padding">Personal Data
                *************</p>
            <p class="text-padding">While using our Service, we may ask you to provide us with certain personally
                identifiable information that can be used to contact or identify you
                ("Personal Data"). Personally identifiable information may include, but is not
                limited to:</p>
            <p class="text-padding">* Email address
                * Cookies and Usage Data</p>
            <p class="text-padding">Usage Data
                **********</p>
            <p class="text-padding">We may also collect information that your browser sends whenever you visit our
                Service or when you access the Service by or through a mobile device ("Usage
                Data").</p>
            <p class="text-padding">This Usage Data may include information such as your computer's Internet
                Protocol address (e.g. IP address), browser type, browser version, the pages
                of our Service that you visit, the time and date of your visit, the time spent
                on those pages, unique device identifiers and other diagnostic data.</p>
            <p class="text-padding">When you access the Service with a mobile device, this Usage Data may include
                information such as the type of mobile device you use, your mobile device
                unique ID, the IP address of your mobile device, your mobile operating system,
                the type of mobile Internet browser you use, unique device identifiers and
                other diagnostic data.</p>
            <p class="text-padding">Tracking &amp; Cookies Data
                ************</p>
            <p class="text-padding">We use cookies and similar tracking technologies to track the activity on our
                Service and we hold certain information.</p>
            <p class="text-padding">Cookies are files with a small amount of data which may include an anonymous
                unique identifier. Cookies are sent to your browser from a website and stored
                on your device. Other tracking technologies are also used such as beacons,
                tags and scripts to collect and track information and to improve and analyse
                our Service.</p>
            <p class="text-padding">You can instruct your browser to refuse all cookies or to indicate when a
                cookie is being sent. However, if you do not accept cookies, you may not be
                able to use some portions of our Service.</p>
            <p class="text-padding">Examples of Cookies we use:</p>
            <p class="text-padding">* Session Cookies. We use Session Cookies to operate our Service.
                * Preference Cookies. We use Preference Cookies to remember your preferences
                and various settings.
                * Security Cookies. We use Security Cookies for security purposes.</p>
            <p class="text-padding">Use of Data
                -----------</p>
            <p class="text-padding">overhoorbot uses the collected data for various purposes:</p>
            <p class="text-padding">* To provide and maintain our Service
                * To notify you about changes to our Service
                * To allow you to participate in interactive features of our Service when
                you choose to do so
                * To provide customer support
                * To gather analysis or valuable information so that we can improve our
                Service
                * To monitor the usage of our Service
                * To detect, prevent and address technical issues</p>
            <p class="text-padding">Legal Basis for Processing Personal Data under the General Data Protection
                Regulation (GDPR)
                --------------------------------------------------------------------------------------------</p>
            <p class="text-padding">If you are from the European Economic Area (EEA), overhoorbot legal basis for
                collecting and using the personal information described in this Privacy Policy
                depends on the Personal Data we collect and the specific context in which we
                collect it.</p>
            <p class="text-padding">overhoorbot may process your Personal Data because:</p>
            <p class="text-padding">* We need to perform a contract with you
                * You have given us permission to do so
                * The processing is in our legitimate interests and it is not overridden by
                your rights
                * To comply with the law</p>
            <p class="text-padding">Retention of Data
                -----------------</p>
            <p class="text-padding">overhoorbot will retain your Personal Data only for as long as is necessary
                for the purposes set out in this Privacy Policy. We will retain and use your
                Personal Data to the extent necessary to comply with our legal obligations
                (for example, if we are required to retain your data to comply with applicable
                laws), resolve disputes and enforce our legal agreements and policies.</p>
            <p class="text-padding">overhoorbot will also retain Usage Data for internal analysis purposes. Usage
                Data is generally retained for a shorter period of time, except when this data
                is used to strengthen the security or to improve the functionality of our
                Service, or we are legally obligated to retain this data for longer periods.</p>
            <p class="text-padding">Transfer of Data
                ----------------</p>
            <p class="text-padding">Your information, including Personal Data, may be transferred to - and
                maintained on - computers located outside of your state, province, country or
                other governmental jurisdiction where the data protection laws may differ from
                those of your jurisdiction.</p>
            <p class="text-padding">If you are located outside Netherlands and choose to provide information to
                us, please note that we transfer the data, including Personal Data, to
                Netherlands and process it there.</p>
            <p class="text-padding">Your consent to this Privacy Policy followed by your submission of such
                information represents your agreement to that transfer.</p>
            <p class="text-padding">overhoorbot will take all the steps reasonably necessary to ensure that your
                data is treated securely and in accordance with this Privacy Policy and no
                transfer of your Personal Data will take place to an organisation or a country
                unless there are adequate controls in place including the security of your
                data and other personal information.</p>
            <p class="text-padding">Disclosure of Data
                ------------------</p>
            <p class="text-padding">Legal Requirements
                ~~~~~~~~~~~~~~~~~~</p>
            <p class="text-padding">overhoorbot may disclose your Personal Data in the good faith belief that such
                action is necessary to:</p>
            <p class="text-padding">* To comply with a legal obligation
                * To protect and defend the rights or property of overhoorbot
                * To prevent or investigate possible wrongdoing in connection with the
                Service
                * To protect the personal safety of users of the Service or the public
                * To protect against legal liability</p>
            <p class="text-padding">Security of Data
                ----------------</p>
            <p class="text-padding">The security of your data is important to us but remember that no method of
                transmission over the Internet or method of electronic storage is 100% secure.
                While we strive to use commercially acceptable means to protect your Personal
                Data, we cannot guarantee its absolute security.</p>
            <p class="text-padding">Your Data Protection Rights under the General Data Protection Regulation
                (GDPR)
                -------------------------------------------------------------------------------</p>
            <p class="text-padding">If you are a resident of the European Economic Area (EEA), you have certain
                data protection rights. overhoorbot aims to take reasonable steps to allow you
                to correct, amend, delete or limit the use of your Personal Data.</p>
            <p class="text-padding">If you wish to be informed about what Personal Data we hold about you and if
                you want it to be removed from our systems, please contact us.</p>
            <p class="text-padding">In certain circumstances, you have the following data protection rights:</p>
            <p class="text-padding">* The right to access, update or delete the information we have on you.
                Whenever made possible, you can access, update or request deletion of your
                Personal Data directly within your account settings section. If you are
                unable to perform these actions yourself, please contact us to assist you.</p>
            <p class="text-padding">* The right of rectification. You have the right to have your information
                rectified if that information is inaccurate or incomplete.</p>
            <p class="text-padding">* The right to object. You have the right to object to our processing of
                your Personal Data.</p>
            <p class="text-padding">* The right of restriction. You have the right to request that we restrict
                the processing of your personal information.</p>
            <p class="text-padding">* The right to data portability. You have the right to be provided with a
                copy of the information we have on you in a structured, machine-readable
                and commonly used format.</p>
            <p class="text-padding">* The right to withdraw consent. You also have the right to withdraw your
                consent at any time where overhoorbot relied on your consent to process
                your personal information.</p>
            <p class="text-padding">Please note that we may ask you to verify your identity before responding to
                such requests.</p>
            <p class="text-padding">You have the right to complain to a Data Protection Authority about our
                collection and use of your Personal Data. For more information, please contact
                your local data protection authority in the European Economic Area (EEA).</p>
            <p class="text-padding">Service Providers
                -----------------</p>
            <p class="text-padding">We may employ third party companies and individuals to facilitate our Service
                ("Service Providers"), provide the Service on our behalf, perform Service-
                related services or assist us in analysing how our Service is used.</p>
            <p class="text-padding">These third parties have access to your Personal Data only to perform these
                tasks on our behalf and are obligated not to disclose or use it for any other
                purpose.</p>
            <p class="text-padding">Links to Other Sites
                --------------------</p>
            <p class="text-padding">Our Service may contain links to other sites that are not operated by us. If
                you click a third party link, you will be directed to that third party's site.
                We strongly advise you to review the Privacy Policy of every site you visit.</p>
            <p class="text-padding">We have no control over and assume no responsibility for the content, privacy
                policies or practices of any third party sites or services.</p>
            <p class="text-padding">Children's Privacy
                ------------------</p>
            <p class="text-padding">Our Service does not address anyone under the age of 18 ("Children").</p>
            <p class="text-padding">We do not knowingly collect personally identifiable information from anyone
                under the age of 18. If you are a parent or guardian and you are aware that
                your Child has provided us with Personal Data, please contact us. If we become
                aware that we have collected Personal Data from children without verification
                of parental consent, we take steps to remove that information from our
                servers.</p>
            <p class="text-padding">Changes to This Privacy Policy
                ------------------------------</p>
            <p class="text-padding">We may update our Privacy Policy from time to time. We will notify you of any
                changes by posting the new Privacy Policy on this page.</p>
            <p class="text-padding">We will let you know via email and/or a prominent notice on our Service, prior
                to the change becoming effective and update the "effective date" at the top of
                this Privacy Policy.</p>
            <p class="text-padding">You are advised to review this Privacy Policy periodically for any changes.
                Changes to this Privacy Policy are effective when they are posted on this
                page.</p>
            <p class="text-padding">Contact Us
                ----------</p>
            <p class="text-padding">If you have any questions about this Privacy Policy, please contact us:</p>
            <p class="text-padding">* By visiting this page on our website: https://www.overhoorbot.nl
        </div>
    </div>
</div>