<div>
    {{> lp_logo }}
    <div class="lp-about__block lp-about__block--white ">
        <div>
            <h1 class="content__row">Privacybeleid</h1>
            <p class="text-padding">
                =============
            </p>
            <p class="text-padding">
            Ingangsdatum: Januari 02, 2020
            </p>
            <p class="text-padding">
            Felson BV, te Amsterdam eigenaar van www.overhoorbot.nl ("ons", "wij" of "onze") beheert de Google Action bekend als
            Project name = Overhoorbot Project ID = math-dwaagi Project number = 754836926720
            ("hierna genoemd Dienst").
            </p>
            <p class="text-padding">
            Deze pagina bevat informatie over ons beleid met betrekking tot de
            verzameling, het gebruik en de openbaarmaking van uw persoonsgegevens wanneer
            u onze Dienst gebruikt.
            </p>
            <p class="text-padding">
            PERSOONSGEGEVENS ----------------
            </p>
            <p class="text-padding">
            De Dienst gebruikt geen persoonsgegevens.
            </p>
            <p class="text-padding">
            De Dienst verzamelt geen persoonsgegevens.
            </p>
            <p class="text-padding">
            De Dienst gebruikt slaat geen persoonsgegevens op.
            </p>
            <p class="text-padding">
            Persoonsgegevens zijn bepaalde persoonlijk identificeerbare informatie die kan worden gebruikt om contact
            op te nemen met u of om u te identificeren ("Persoonsgegevens").
            </p>
            <p class="text-padding">
            GEBRUIKSGEGEVENS ----------------
            </p>
            <p class="text-padding">
            De Dienst slaat geen gebruikersgegevens op.
            Onder gebruiksgegevens verstaan wij automatisch verzamelde gegevens die worden gegenereerd door het gebruik van de Dienst of van de infrastructuur
            van de Dienst zelf.
            </p>
            <p class="text-padding">
            DELEN MET ANDEREN -----------------
            </p>
            <p class="text-padding">
            De Dienst verstrekt geen persoonsgegevens aan derden.
            </p>
            <p class="text-padding">
            TRACKING EN COOKIEGEGEVENS --------------------------
            </p>
            <p class="text-padding">
            De Dienst gebruikt geen cookies en soortgelijke volgtechnologieën.
            </p>
            <p class="text-padding">
            DIENSTVERLENERS --------------------------
            </p>
            <p class="text-padding">
            Wij kunnen externe bedrijven en personen aanstellen om de Dienst te vereenvoudigen,
            om diensten uit te voeren in het kader van onze Dienst of om ons te helpen bij
            de analyse van hoe onze Dienst wordt gebruikt.
            </p>
            <p class="text-padding">
            PRIVACY VAN KINDEREN --------------------------
            </p>
            <p class="text-padding">
            Wij verzamelen nooit bewust persoonlijk identificeerbare informatie van iemand
            die jonger is dan 18 jaar oud. Als u een ouder of voogd bent en u stelt vast
            dat uw kind ons persoonsgegevens heeft geleverd, vragen wij u contact op te
            nemen met ons. Als u vaststelt dat wij persoonsgegevens hebben verzameld van
            kinderen zonder de verificatie van ouderlijk toezicht zullen wij de nodige
            stappen ondernemen om die informatie te verwijderen van onze servers.
            </p>
            <p class="text-padding">
            WIJZIGINGEN AAN DIT PRIVACYBELEID --------------------------
            </p>
            <p class="text-padding">
            Wij kunnen ons Privacybeleid op gezette tijden bijwerken. Wij zullen u op de
            hoogte brengen van eventuele wijzigingen door het nieuwe Privacybeleid te
            publiceren op deze pagina.
            </p>
            <p class="text-padding">
            Wij zullen u op de hoogte brengen via e-mail en/of een duidelijke melding op
            onze Dienst voor de wijzigingen van kracht gaan en wij zullen de
            "aanvangsdatum" bijwerken die vermeld staat bovenaan in dit Privacybeleid.
            Wij raden u aan dit Privacybeleid regelmatig te controleren op eventuele
            wijzigingen. Wijzigingen aan dit Privacybeleid gaan van kracht op het moment
            dat ze worden gepubliceerd op deze pagina.
            </p>
            <p class="text-padding">
            CONTACT OPNEMEN --------------------------
            </p>
            <p class="text-padding">
            Als u vragen hebt over dit Privacybeleid kunt u contact opnemen met ons:
            Via deze pagina op onze website: https://www.overhoorbot.nl
            </p>
        </div>
    </div>
</div>