html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

body {
  line-height: 1;
  overflow: hidden;
  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;
  /*removes default style*/
  display: flex;
  /*enables flex content for its children*/
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Avenir Regular";
  src: url("/fonts/Avenir-Regular.ttf"); }

body {
  font-family: "Avenir Regular", Verdana, sans-serif; }

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; }

.content {
  padding: 25px 60px;
  background-color: #F3F4F7;
  width: 100%; }

.logo {
  background-image: url("/images/logo.svg");
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.sidebar {
  background-color: #383D48;
  color: white;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2); }
  .sidebar__top {
    margin: 20px; }
  .sidebar__logo {
    max-width: 160px; }
  .sidebar__divider {
    width: 100%;
    border-top: none;
    margin: 20px 0; }

.nav {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .nav__item {
    width: 100%; }
  .nav__link {
    display: flex;
    color: inherit;
    text-decoration: none;
    padding: 20px 20px 20px 40px;
    font-size: 20px;
    text-align: left; }
  .nav__link:hover {
    background-color: #F8D84F;
    color: #383D48; }
  .nav__link:hover .nav__link-icon {
    filter: invert(100%); }
  .nav__link-icon {
    width: 20px;
    height: 20px;
    margin-left: auto; }
  .nav__link--active {
    background-color: #F8D84F;
    color: #383D48; }
  .nav__link--active .nav__link-icon {
    filter: invert(100%); }
  .nav__link--logout {
    font-size: 14px;
    text-decoration: underline;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0; }
  .nav__link-icon--logout {
    margin-left: 0;
    margin-right: 20px; }
