.sidebar {
  background-color: $black;
  color: white;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 999;

  &__top {
    margin: 20px;
  }

  &__logo {
    max-width: 160px;
  }

  &__divider {
    width: 100%;
    border-top: none;
    margin: 20px 0;
  }
}