.sidebar {
  background-color: $black;
  color: white;

  &__top {
    margin: 20px;
  }

  &__logo {
    max-width: 160px;
  }

  &__divider {
    width: 100%;
    border-top: none;
    margin: 20px 0;
  }
}