.table {
  border: 1px solid #e9e9e9;
  text-align: left;
  width: 100%;
  text-transform: capitalize;
  background-color: #fff;

  &__item {
    padding: 10px;
  }

  &__link {
      &:hover {
          .cog {
              transform: rotate(180deg)
          }
      }
  }

  &__heading {
    background-color: #6f798f;
    color: #fff;
  }

  &__icon {
    width: 20px;
    margin-right: 5px;
  }

  &__row {
    &--even {
      background-color: #fff;
    }
    &--odd {
      background-color: #efefef;
    }
  }
}

.cog {
    transition: transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#lid {
    transition: .2s;
}

.bin-icon {
    width: 15px;

    &:hover {
        #lid {
            transform: translateY(-2px);
        }
    }
}
