svg {
    position: relative;
    overflow: visible;
}

.cls-10 > tspan {
    font-family: Roboto;
}

#cloud-1 {
    transform: translate(-40%);
    opacity: 0;
}

#cloud-react {
    transform: translate(40%);
    opacity: 0;
}

#cloud-2 {
    transform: translate(-40%);
    opacity: 0;
}

.animationFromLeft {
    animation: animationFromLeft;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.animationFromRight {
    animation: animationFromRight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animationFromLeft {
    0% {
        transform: translate(-40%);
        opacity: 0;
    }
    20% {
        transform: translate(-20%);
        opacity: 1;
    }
    80% {
        transform: translate(-20%);
        opacity: 1;
    }
    100% {
        transform: translate(-20%);
        opacity: 0;
    }
}

@keyframes animationFromRight {
    0% {
        transform: translate(40%);
        opacity: 0;
    }
    20% {
        transform: translate(20%);
        opacity: 1;
    }
    80% {
        transform: translate(20%);
        opacity: 1;
    }
    100% {
        transform: translate(20%);
        opacity: 0;
    }
}